<!-- Dashboard content -->
<div class="app-content">
		
		

	<md-grid-list cols="4" rowHeight="100px">
	  <md-grid-tile [colspan]=2 [rowspan]=6 [style.background]="lightblue">
	  	<!-- Sales graphic -->
		<sales-report></sales-report>
	  </md-grid-tile>

	  <md-grid-tile [colspan]=2 [rowspan]=6 [style.background]="lightgreen">
	    <!-- Sales report-->
		<report-component></report-component>
	  </md-grid-tile>

	  <md-grid-tile [colspan]=4 [rowspan]=6 [style.background]="lightpink">
	    <md-card class="example-card">
		  <md-card-header>
		    <div md-card-avatar class="example-header-image"></div>
		    <md-card-title>Ejecutor de SQL</md-card-title>
		  </md-card-header>
		  
		  <md-card-content>
		    <p>
		      Escriba la sentencia que desee ejecutar sobre el data warehouse. El resultado se desplegará en la parte inferior.
		    </p>
		    <p>
    			<md-input-container class="example-full-width">
      				<textarea mdInput #query placeholder="Consulta a ejecutar">SELECT COUNT(1) FROM sales_orders_facts</textarea>
    			</md-input-container>
  			</p>
  			<p *ngIf="result">
  				{{result | json}}
  			</p>
		  </md-card-content>
		  <md-card-actions>
		    <button md-raised-button (click)="executeQuery(query.value)">Ejecutar</button>
		    <button md-button>Limpiar</button>
		  </md-card-actions>
		</md-card>
	  </md-grid-tile>
	  <md-grid-tile [colspan]=2 [rowspan]=4 [style.background]="blue">
	    <md-card class="example-card">
		  <md-card-header>
		    <div md-card-avatar class="example-header-image"></div>
		    <md-card-title>Shiba Inu</md-card-title>
		    <md-card-subtitle>Dog Breed</md-card-subtitle>
		  </md-card-header>
		  <!-- Aqui va el contenido del informe-->
		  <md-card-content>
		    <p>
		      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
		      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
		      bred for hunting.
		    </p>
		  </md-card-content>
		  <md-card-actions>
		    <button md-button>LIKE</button>
		    <button md-button>SHARE</button>
		  </md-card-actions>
		</md-card>
	  </md-grid-tile>
	</md-grid-list>
	<h2>Aquí va el dashboard</h2>
</div>
	