<!-- Dashboard content -->
<div class="app-content">
	<md-grid-list cols="6" rowHeight="100px">
		<!-- Sales graphic -->
	  <md-grid-tile [colspan]=2 [rowspan]=6 [style.background]="lightblue">
		<sales-report></sales-report>
	  </md-grid-tile>
		<!-- SQL executor -->
	  <md-grid-tile [colspan]=4 [rowspan]=6 [style.background]="lightpink">			
	    <md-card class="example-card">
		  <md-card-header>
		    <div md-card-avatar class="example-header-image"></div>
		    <md-card-title>Ejecutor de SQL</md-card-title>
		  </md-card-header>
		  <md-card-content>
		    <p>
		      Escriba la sentencia que desee ejecutar sobre el data warehouse. El resultado se desplegará en la parte inferior.
		    </p>
		    <p>
    			<md-input-container class="example-full-width">
      				<textarea mdInput #query placeholder="Consulta a ejecutar">SELECT COUNT(1) FROM sales_orders_facts</textarea>
    			</md-input-container>
  			</p>
  			<p *ngIf="result">
  				{{result | json}}
  			</p>
		  </md-card-content>
		  <md-card-actions>
		    <button md-raised-button (click)="executeQuery(query.value)">Ejecutar</button>
		    <button md-button>Limpiar</button>
		  </md-card-actions>
		</md-card>
	  </md-grid-tile>
	</md-grid-list>
	<!-- Sales report-->
	<report-component></report-component>
	<!-- Products report-->
	<products-component></products-component>
</div>
	