<md-card class="example-card">
	<md-card-header>
		<div md-card-avatar class="example-header-image"></div>
	    <md-card-title>Ventas por sector</md-card-title>
	    <md-card-subtitle>Visión Global</md-card-subtitle>
	</md-card-header>
		<canvas baseChart class="baseChart" 
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          *ngIf="isDataAvailable"></canvas>
		<md-card-content>
			<p>
	      	Este reporte muestra como se han concentrado las ventas de la compañía entre los sectores de clientes identificados.
	    	</p>
	  	</md-card-content>
</md-card>
